/* Sidebar styles */
#sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1000;
  }
  
  #sidebar.active {
    left: 0;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
    display: none;
  }
  
  .overlay.active {
    display: block;
  }
  
  @media only screen and (max-width: 768px) {
    .main-cards {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .table-container {
      overflow-x: auto;
    }
  
    .header .menu-icon {
      display: inline-block;
    }
  
    #sidebar {
      display: none;
    }
  
    .header-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  
    .modal-logout {
      padding: 15px;
    }
    .modal-content-logout {
      width: 100%;
      max-width: 300px;
    }
  }

  